@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0f172a; /* Slate 900 */
  
  --muted: #f1f5f9;       /* Slate 100 (Fundo de botões secundários) */
  --muted-foreground: #64748b; /* Slate 500 (Texto de apoio) */
  
  --border: #e2e8f0;      /* Slate 200 (Bordas) */
}

/* Isso força o Tailwind a ativar o modo dark quando a classe .dark estiver presente no HTML */
@custom-variant dark (&:where(.dark, .dark *));


/* AQUI CONECTAMOS O CSS AO TAILWIND */
@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  
  --color-border: var(--border);
}

/* TEMA ESCURO (Controlado pela classe .dark) */
.dark {
  /* Opção Slate Deep que sugeri antes */
  --background: #020617; 
  --foreground: #f8fafc;
  
  --muted: #1e293b;
  --muted-foreground: #94a3b8;
  
  --border: #1e293b;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
